In [198]:
import pandas as pd

#load data
data = pd.read_csv("Skyserver_SQL2_27_2018 6_51_39 PM.csv")

In [199]:
#data preview 
data.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1.237650e+18,183.531326,0.089693,19.47406,17.04240,15.94699,15.50342,15.22531,752,301,4,267,3.722360e+18,STAR,-0.000009,3306,54922,491
1,1.237650e+18,183.598371,0.135285,18.66280,17.21449,16.67637,16.48922,16.39150,752,301,4,267,3.638140e+17,STAR,-0.000055,323,51615,541
2,1.237650e+18,183.680207,0.126185,19.38298,18.19169,17.47428,17.08732,16.80125,752,301,4,268,3.232740e+17,GALAXY,0.123111,287,52023,513
3,1.237650e+18,183.870529,0.049911,17.76536,16.60272,16.16116,15.98233,15.90438,752,301,4,269,3.722370e+18,STAR,-0.000111,3306,54922,510
4,1.237650e+18,183.883288,0.102557,17.55025,16.26342,16.43869,16.55492,16.61326,752,301,4,269,3.722370e+18,STAR,0.000590,3306,54922,512

In [200]:
#data summary
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
objid        10000 non-null float64
ra           10000 non-null float64
dec          10000 non-null float64
u            10000 non-null float64
g            10000 non-null float64
r            10000 non-null float64
i            10000 non-null float64
z            10000 non-null float64
run          10000 non-null int64
rerun        10000 non-null int64
camcol       10000 non-null int64
field        10000 non-null int64
specobjid    10000 non-null float64
class        10000 non-null object
redshift     10000 non-null float64
plate        10000 non-null int64
mjd          10000 non-null int64
fiberid      10000 non-null int64
dtypes: float64(10), int64(7), object(1)
memory usage: 1.4+ MB

In [201]:
data.describe()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000
mean,1.237650e+18,175.529987,14.836148,18.619355,17.371931,16.840963,16.583579,16.422833,981.034800,301.0,3.648700,302.380100,1.645022e+18,0.143726,1460.986400,52943.533300,353.069400
std,1.577039e+05,47.783439,25.212207,0.828656,0.945457,1.067764,1.141805,1.203188,273.305024,0.0,1.666183,162.577763,2.013998e+18,0.388774,1788.778371,1511.150651,206.298149
min,1.237650e+18,8.235100,-5.382632,12.988970,12.799550,12.431600,11.947210,11.610410,308.000000,301.0,1.000000,11.000000,2.995780e+17,-0.004136,266.000000,51578.000000,1.000000
25%,1.237650e+18,157.370946,-0.539035,18.178035,16.815100,16.173333,15.853705,15.618285,752.000000,301.0,2.000000,184.000000,3.389248e+17,0.000081,301.000000,51900.000000,186.750000
50%,1.237650e+18,180.394514,0.404166,18.853095,17.495135,16.858770,16.554985,16.389945,756.000000,301.0,4.000000,299.000000,4.966580e+17,0.042591,441.000000,51997.000000,351.000000
75%,1.237650e+18,201.547279,35.649397,19.259232,18.010145,17.512675,17.258550,17.141447,1331.000000,301.0,5.000000,414.000000,2.881300e+18,0.092579,2559.000000,54468.000000,510.000000
max,1.237650e+18,260.884382,68.542265,19.599900,19.918970,24.802040,28.179630,22.833060,1412.000000,301.0,6.000000,768.000000,9.468830e+18,5.353854,8410.000000,57481.000000,1000.000000

In [202]:
#converting class column into scalar
data["class"] = data["class"].map(dict(GALAXY=1, STAR=2, QSO=3))

In [203]:
#frequency of different classes
data["class"].value_counts()

1    4998
2    4152
3     850
Name: class, dtype: int64

In [204]:
#spliting data into 80--20 sets of training and testing resp.
#keeping the ratio of each of the 3 class-galaxy,star,qso-same
#in test and train set.


from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(data, data["class"]):
    strat_train_set = data.loc[train_index]
    strat_test_set = data.loc[test_index]

In [205]:
strat_test_set["class"].value_counts()

1    1000
2     830
3     170
Name: class, dtype: int64

In [206]:
strat_train_set["class"].value_counts()

1    3998
2    3322
3     680
Name: class, dtype: int64

In [207]:
#unexpected ratio value of training and test sets obtained
#should be 0.2      got 0.25 approx

strat_test_set["class"].value_counts()/strat_train_set["class"].value_counts()

1    0.250125
2    0.249849
3    0.250000
Name: class, dtype: float64

In [208]:
#saperating class column --class is Y

train_set_label = strat_train_set["class"]
test_set_label = strat_test_set["class"]

In [209]:
#data analysis was done manually for observing which dimensions are not determining the
#class of object. "class" is dropped because it will be predicted and
#our ML model will learn from strat_train_set and train_set_label
#we will test our model on strat_test_set and it will predict some classes for each objects
#then we will compare our results from the actual results, ie. test_set_label
#getting the rounded difference between these two will give us the number of correct prediction
#dividing it by total size of test set will give us the accuracy of our model

strat_test_set = strat_test_set.drop(columns=["objid","class","run","camcol","field","ra","dec",
                                              "rerun","specobjid","plate",
                                              "fiberid","mjd"])
strat_train_set = strat_train_set.drop(columns=["objid","class","run","camcol","field","ra","dec",
                                                "rerun","specobjid","plate",
                                                "fiberid", "mjd"])

In [210]:
#summary of reduced dimension data
strat_test_set.head()

             u         g         r         i         z  redshift
6567  17.69318  17.62205  17.71064  17.76053  17.75881  0.705405
6317  18.45356  17.06661  16.46738  16.11402  15.98683  0.061118
1183  19.39888  18.51277  18.18876  18.07286  18.00324  0.000309
2715  18.53934  17.48349  17.08982  16.74162  16.72394  0.074410
1855  18.84921  17.92129  17.39355  17.08499  16.92047  0.194048

In [211]:
#selecting and training the model


import sklearn.neighbors

model = sklearn.neighbors.KNeighborsRegressor(n_neighbors=2)
model.fit(strat_train_set, train_set_label)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                    weights='uniform')

In [212]:
#prediction using model

x = model.predict(strat_test_set)

In [213]:
#calculating accuracy

SET = x - test_set_label
SET=(round(SET))
count=SET.value_counts()
count[0]/SET.count()

0.961

In [214]:
#accuracy = 0.961 on test set.
#accuracy = 0.991625 on train set.
#on n_neighbors = 2